.VPHome h1 {
  white-space: nowrap !important;
}

.vp-doc h1 {
  margin-top:40px !important;
  margin-bottom:20px !important;
}
.vp-doc h1:first-child {
  margin-top: 0px !important;
}

.flex-wrap {
  display:flex;
  flex-direction: row;
  border: 1px dashed #dedede;
  overflow: hidden;
  padding: 10px;
}
.flex-wrap .img-wrap {
  margin-right: 10px;
  width: 85px;
}
.flex-wrap .img-wrap img {
  max-width: 100%;
}
.flex-wrap .content {
  flex: 1;
}